.nosotros-team {
    display: flex; flex-wrap: nowrap;
    overflow-y: hidden;
    width: 100%; height: 50%;
} 
.nosotros-team-item {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
   
    background-color: rgba(4, 3, 5, 0.794);
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    min-width: 40%;
    
}
.nosotros-team-item img {
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    border-radius:100%;
}
.nosotros-team-item .team-body {
    text-align: center;
    color: white;

}
.nosotros-team-item .team-body h3 {
    font-size: 18px; font-weight: 500;
    line-height: 0.9; letter-spacing: 1px;
    margin-bottom: 0;
}
.nosotros-team-item .team-body .team-body-tareas {
    display: flex; flex-wrap: wrap;
    align-items: center; justify-content: center;
    padding: 0.5rem;
    
}
.nosotros-team-item .team-body .team-body-tareas h4 {
    font-size: 16px; font-weight: 200;
    line-height: 0.9; letter-spacing: 1px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

@media only screen and (min-width: 481px) {
    .nosotros-team-item {
        min-width: 30%;
        
        padding: 0 1rem;
    }
    .nosotros-team-item img {
        width: 10rem; height: 10rem;
    }
    .nosotros-team-item .team-body h3 {
        font-size: 24px;
    }
    .nosotros-team-item .team-body .team-body-tareas h4 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .nosotros-team {
        justify-content: center;
    }
    .nosotros-team-item {
        min-width: 20%; width: 20%;
        
    }
}