.mision-section {
    height: 45%;
    margin: 4rem 0rem;
    background-image: url('/public/img/agencia.webp');
    background-repeat: no-repeat;
    background-size: cover;

}

.mision-section .mision-section-1 {
    padding: 5rem 0;
    
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}


.mision-section .mision-section-title h4{
    font-size: 28px;
    font-weight: 300; 
    padding: 1rem 0.5rem 2rem;
    line-height: 0.9; letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
.mision-section .mision-section-title a {
    padding: 1rem; margin: 1rem 0;
    border-radius:0.5rem;
    font-size: 24px; font-weight: 400;
    text-decoration: none;
    background-color: rgba(83, 253, 230, 0.808);
    width: 100%;
    color: black;
}