.service-cat .service-cat-header {
    min-height: 10rem;
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    border-radius:1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
   
   
}
.service-cat .service-cat-header .service-title {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}
.service-cat .service-cat-header .service-title h2 {
    
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 26px; font-weight: 700;
    line-height: 0.9;
}
.service-cat .service-cat-header .service-icon {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.service-cat .service-cat-header .service-description {
    display: flex; flex-wrap: wrap;
    align-items: center;
    width: 35%;
    

}
.service-cat .service-cat-header .service-description h3 {
    
    color: rgba(255, 255, 255, 0.897);
    font-size: 18px; font-weight: 300;
    margin: 0.5rem;
    line-height: 0.9;
}

.service-cat .service-cat-body {    
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.678);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.service-cat .service-cat-body  .services-cat-list .service-list-item {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    
}
.service-cat .service-cat-body  .services-cat-list .service-list-item .item-body {
    text-align: start;
    padding: 1rem;
    width: 75%;
    color: white;
}
.service-cat .service-cat-body  .services-cat-list .service-list-item .item-body h2 {
    margin-bottom: 0;
    font-size: 20px; font-weight: 700;
    line-height: 1;
}
.service-cat .service-cat-body  .services-cat-list .service-list-item .item-body h3 {
    font-size: 18px; font-weight: 100;
    margin-top: 0.5rem;
    
}
.service-cat .service-cat-body  .services-cat-list .service-list-item img {
    width: 6rem;
}
.service-cat .service-cat-body  .services-cat-list .service-list-item button {

    margin: 1rem 0;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.863);
    width: 90%;
    color: rgb(255, 255, 255);
}


@media only screen and (min-width: 481px) {
    .service-cat {
        margin:  0.5rem 10%;
    }
    .service-cat .service-cat-header{
        justify-content: space-between;
        padding: 1rem 5rem;
    }
    
    .service-cat .service-cat-body  .services-cat-list .service-list-item .item-body {
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .service-cat {
        margin:  0.5rem 5%;
    }
}
@media only screen and (min-width: 789px) {
    .service-cat .service-cat-body .services-cat-list .service-list-item button {
        width: 50%;
        font-size: 20px;
    }

}