.nosotros-bio {
    display: flex; flex-direction: column;
   
    background-position: start;
    background: linear-gradient(to top, transparent, rgb(5, 4, 7)),
    url('/public/img/agencia.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.nosotros-bio .bio-body {
    padding: 1rem 0.5rem;
    padding-bottom: 25%;
    color: white;
    height: 100%;
    display: flex; flex-direction: column;
    justify-content: end;
   

}

.nosotros-bio .bio-body h2  {
    font-size: 54px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    line-height: 0.8;
    text-align: center;
    padding: 0 2rem;
    padding-top: 25%;
    margin-bottom: 2rem;
    

}

@media only screen and (min-width: 481px) {
    .nosotros-bio {
        height: 75vh;
        padding: 1rem 0;
    }
    .nosotros-bio .bio-body {
        padding-bottom: 0;
    }
    
}

@media only screen and (min-width: 769px) {
    .nosotros-bio {
        height: 75vh;
        padding: 1rem 0;
       
    }
    .nosotros-bio .bio-body h2 {
        padding-top: 0;
    }
}