.services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}
.services-list .services-card {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    color: white;
    width: 100%;
    height: 25rem;
}
.services-list .services-card .card-title {
    text-align: center;
}
.services-list .services-card .card-title h3 {
    font-size: 20px;
}
.services-list .services-card .card-title h4 {
    font-size: 18px; font-weight: 300;
}


@media only screen and (max-width: 480px) {
    .services-carousel-container {
       
    }
    .services-list {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        padding: 0;
        margin: 0;
        width: 100%;
    }
    .services-list .services-card { 
        width: 20rem; height: 12rem;
        margin: 0.2rem 0;
    }
    .services-list .services-card img {
        width: 8rem;
    }
    .services-list .services-card .card-title {
        height: 45%;   
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .services-list{
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 1rem;
        justify-content: center;
    }
    .services-list .services-card {
        height: 35rem;
        min-width: 300px;
        justify-content: space-evenly;
    }

    .services-list .services-card img {
        width: 15rem;
    }
    .services-list .services-card .card-title {
        height: 25%;
    }
    .services-list .services-card .card-title h3  {
        font-size: 32px;
    }
    .services-list .services-card .card-title h4  {
        font-size: 28px;
    }
}