.service-banner {
  
    display: flex;
    align-items: center; justify-content: center;
   
    padding-left:15%;
    padding-right:15%;
    flex-direction: column;
    margin-bottom: 5rem;
    
}

.service-banner .banner-body-container {
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 100% 100%;
    display: flex; 
    align-items: center;
    height: 50vh;
}
.service-banner .banner-body-container .service-banner-body {
    color: white;
    text-align: start;
    padding: 1rem;
    width: 55%;
}
.service-banner .banner-body-container .service-banner-body h3 {
    font-size: 54px;
    font-weight: 600;
    line-height: 0.9; letter-spacing: 1px;
    

}
.service-banner .banner-body-container .service-banner-body h4 {
    font-size: 18px;
    font-weight:200;
    line-height: 0.9; letter-spacing: 1px;
    text-shadow: 2px 2px 5px black
}


.service-banner .service-banner-items{
    display: flex;
    align-items: center; justify-content: center;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;

    
}

.service-banner .service-banner-items .service-item {
    display: flex; align-items: center; justify-content: center;
    text-align: center;
    height: 8rem;
    border: 1px solid rgba(90, 251, 184, 0.883);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 90%;
}
.service-banner .service-banner-items .service-item h4 {
    font-size: 20px; font-weight: 200;
    color: white;
}

.service-longDescription {
    width: 75%;
    padding: 0 1rem;
}
.service-longDescription h3{
    color: white;
    font-size: 22px; font-weight: 300; 

}

@media only screen and (max-width: 480px) {
    .service-banner {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
      
        
    }
    .service-banner .banner-body-container {
        align-items: start;
        height: 75vh;width: 100vw;

        background-position: bottom center;
        background-size: 90%;
   
    }
    .service-banner .banner-body-container .service-banner-body {
        width: 100vw;
        padding-top: 3rem;
    }
    .service-banner .service-banner-items .service-item {
        height: 12rem;
    }
    .service-banner .service-banner-items .service-item h4 {
        text-align: center;
        font-size: 18px;
        padding: 0;
    }
    .service-banner .banner-body-container .service-banner-body h3 {
        font-size: 42px;
    }
    .service-banner .banner-body-container .service-banner-body h4 {
        font-size: 20px;
    }

    .service-banner .info {
        flex-direction: column;
    }

    .service-longDescription {
        margin-top: 3rem;
        width: 100%;
        margin-bottom: 3rem;
    }
    .service-longDescription h3 {
        font-size: 22px;
        text-align: center;
    }
}